<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aside.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/message.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebServer.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <h2><span class="danger">W</span>hisperer</h2>
                    <div class="close" id="close-btn">
                        <span class="material-symbols-sharp">
                            close
                        </span>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                @{
                    if (ViewBag.Chats != null)
                    {
                        foreach (var item in ViewBag.Chats)
                        {
                            <form class="@(ViewBag.Chat?.Id == item?.Id ? "active" : "")" asp-controller="Chat" asp-action="Chat">
                                <input name="User" class="visually-hidden" value="@ViewBag.User" />
                                <input name="Id" class="visually-hidden" value="@item?.Id" />
                                <input name="Name" class="visually-hidden" value="@item?.Name" />
                                <button type="submit">
                                    <h3>@item?.Name</h3>
                                </button>
                            </form>
                        }
                    }
                }
                <form asp-controller="home" asp-action="index">
                    <button>
                        <h3>Logout</h3>
                    </button>
                </form>
            </div>
        </aside>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/aside.js" asp-append-version="true"></script>
    <script>
        alert(@ViewBag.User);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<template id="message-template">
    <div class="message">
        <small id="name-message"></small>
        <p></p>
        <div class="down-row">

            <small id="date-message"></small>

        </div>
    </div>
</template>